// Global
#app {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
    margin-bottom: 2em;

    .nav-tabs>li>a {
        line-height: 2em;
    }

    .encounter-icon {
        width: 25px;
        margin: 0 5px 0 15px;
    }
}

// Modify Bootstrap
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

// Admin
.monster-admin {
    text-align: right;

    .btn {
        box-shadow: 0 6px #286090;
        position: relative;
        font-size: 1em;
        border: none;

        &:hover {
            top: 2px;
            box-shadow: 0 4px #286090;
            background-color: #337ab7;
            border: none;
        }

        &:active {
            top: 6px;
            box-shadow: 0 0 #286090;
            &:focus {
                outline: none;
            }
        }

        &:focus {
            background-color: #337ab7;
            outline: none;
            border: none;
        }
    }
}

// Filters
.monster-filters {

    margin-bottom: 2em;

    .filter-field {

        label {
            display: block;
        }

        select,
        input {
            width: 100%;
        }
    }
}

// Listings
.monster-listings {
    display: flex;
    flex-wrap: wrap;

    .alert {
        margin: 3em 1em 0;
    }
}

// Proejct Wonderful Ads
.project-wonderful {
    margin: 0 auto;
    width: 728px;
}

// Footer
.footer {
    border-top: 1px solid #777;
    margin-top: 1em;
    margin-bottom: 3em;
    padding-top: 2em;
}